@font-face
{
    font-family: BPGArial;
    src: url('BPGArial.woff'),
         url('BPGArial.ttf'),
         url('BPGArial.eot'),
         url('BPGArial.svg');
}
body {
    margin: 0;
    padding: 0;
    background: #dbe3e8;
    min-width: 320px;
}
.main {
    background: #dbe3e8;
    min-height: 530px;
    padding: 20px;
}
.container {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
}
#transaction_props{
    display: none;
}
.main .main-content {
    background: #ffffff;
    min-height: 350px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0 13px 20px -5px #cecece;
    -moz-box-shadow: 0 13px 20px -5px #cecece;
    -webkit-box-shadow: 0 13px 20px -5px #cecece;
}
.content-header-logos {
    width: 100%;
    height: 100px;
    line-height: 50px;
    padding-top: 0px;
    text-align: right;
    background-color: #00a3e0;
    border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
}
#logo {
    float: left;
    margin-left: 30px;
    height: 38px;
    margin-top: 30px;
}
#mastercard-logo{
    height: 50px;
    margin-top: 25px;
}
.content-header-logos img {
    height: 30px;
    margin-top: 35px;
    margin-right: 30px;
    float: right;
}
.card-data {
    min-height: 200px;
    color: #000000;
}
.payment-info {
    display: inline-block;
}
.payment-input-container {
    width: 57%;
    display: block;
    background-color: #fff;
    float: left;
    height: 350px;
    border-radius: 0 0 0 15px;
    -moz-border-radius: 0 0 0 15px;
    -webkit-border-radius: 0 0 0 15px;
    position: relative;
}
.payment-input-container label {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 37px;
    margin-bottom: 16px;
    display: inline-block;
    width: calc(100% - 80px);
    font-family: BPGArial;
    font-size: 14px;
    color: #2e383c;
    text-align: left;
}
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
select::-ms-expand {
    display: none;
}
input::-ms-clear {
    display: none;
}
.payment-input-container input {
    background: #ffffff;
    border: 1px solid #d7dfe6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 34px;
    margin-left: 40px;
    width: calc(100% - 120px);
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.payment-input-container h5 {
    font-weight: normal;
    margin:0;
    margin-left: 40px;
    font-family: BPGArial;
}
.payment-input-hidden{
    display: none;
}
.input_cardn{
    outline: none;
}
.input_cardn:focus{
    border-color: #00a3e0;
}
.input_cvc{
    outline: none;
}
.input_cvc:focus{
    border-color: #00a3e0;
}
#input-card-type {
    display: inline-block;
    position: absolute;
    right: 89px;
    top: 77px;
}
#input-card-type-image-visa{
    height: 13px;
    width: 40px;
    margin-top: 3px;
    display: none;
}
#input-card-type-image-mastercard{
    height: 20px;
    width: 26px;
    display: none;
}
#input-card-type-image-maestro{
    height: 20px;
    width: 26px;
    display: none;
}
#payment-input-cvc input {
    width: 120px;
}
#payment-input-cvc label{
    margin-top: 17px;
}
.payment-input-container select {
    height: 34px;
    width: calc(50% - 62px);
    padding-left: 10px;
    background-color: #ffffff;
    border: 1px solid #d7dfe6;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.payment-input-container select:focus{
    border: 1px solid #00a3e0;
}
.payment-input-container select:first-of-type {
    margin-left: 40px;
}
#payment-input-date-labels{
    width: 100%;
}
#payment-input-date-labels h6:first-of-type{
    margin-left: 44px;
}
#payment-input-date-labels h6{
    margin: 0;
    display: inline-block;
    width: calc(50% - 60px);
    font-family: 'BPGArial';
    font-weight: normal;
    font-size: 10px;
    color: #737373;
    margin-bottom: 4px;
}
#payment-summary-container{
    position: relative;
    top: 40%;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -o-transform: translateY(-60%);
}
.payment-details-container {
    width: 43%;
    display: block;
    background-color: #e6eaee;
    float: left;
    height: 350px;
    border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    -webkit-border-radius: 0 0 15px 0;
    position: relative;
}
.payment-details-container label {
    font-family: BPGArial;
    font-size: 14px;
    color: #00a3e0;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: inline-block;
    width: calc(100% - 80px);
}
#payment-details-description {
    font-family: BPGArial;
    font-size: 14px;
    color: #2e383c;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 17px;
    display: inline-block;
    width: calc(100% - 80px);
}
#payment-details-amount {
    font-family: BPGArial;
    font-size: 32px;
    color: #2e383c;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    display: inline-block;
    width: calc(100% - 80px);
}
#payment-submit {
    display: block;
    background: #00a3e0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    width: 217px;
    height: 58px;
    font-family: BPGArial;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 0;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    position: absolute;
    bottom:30px;
    left: 0;
    right: 0;
}
.main-footer {
    padding-top: 35px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    color: #ffffff;
}
.container {
    max-width: 700px;
    width: 100%;
    margin: 0px auto;
}
.main-footer .container {
    text-align: center;
}
.main-footer .container img {
    margin: 0 15px;
    height: 40px;
}
.footer_line {
    margin-bottom: 0px;
    min-height: 20px;
    position: relative;
    background: #dbe3e8;
}
.footer_line h5 {
    text-align: center;
    font-family: BPGArial;
}
.popover-info{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #00a3e0;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    font-family: BPGArial;
    font-size: 14px;
    line-height: 20px;
    color: #00a3e0;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 40px;;
}
.popover-container{
    width: 100%;
    max-width: 280px;
    background-color: #e6eaee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 5px 5px -5px #aaaaaa;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    margin-top: 5px;
}
.popover-left{
    display: inline-block;
    width: 102px;
    height: 66px;
    vertical-align: middle;
}
.popover-right{
    display: inline-block;
    width: calc(100% - 110px);
    max-height: 66px;
    vertical-align: middle;
}
.popover-container img{
    width: 102px;
    height: 66px;
}
.popover-container h5{
    font-family:BPGArial;
    font-size:12px;
    color:#000000;
    text-align:left;
    margin: 0;
    margin-left: 10px;
    vertical-align: middle;
}
.validation_error{
    border-color: #ff0000 !important;
}
@media(max-width:676px){
    .content-header-logos{
        border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
    }
    .payment-input-container{
        width: 100%;
        height: 300px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    #input-card-type {
        display: inline-block;
        position: absolute;
        right: 89px;
        top: 59px;
    }
    #input-card-type-image{
        height: 20px;
    }
    #input-card-type-image-visa {
        margin-top: 4px;
    }
    #input-card-type-image-mastercard {
        margin-top: 0px;
    }
    #input-card-type-image-maestro {
        margin-top: 0px;
    }
    .payment-details-container{
        width: 100%;
        height: 350px;
        border-radius: 0 0 15px 15px;
        -moz-border-radius: 0 0 15px 15px;
        -webkit-border-radius: 0 0 15px 15px;
    }
    .payment-input-container label{
        margin-top: 20px;
    }
    .payment-details-container label{
        margin-top: 30px;
    }
    #payment-submit{
        width: calc(100% - 80px);
    }
    #payment-details-description{
        margin-bottom: 10px;
    }
    .main{
        padding:0;
        padding-top:0 !important;
    }
}
@media (max-width:500px){
    .content-header-logos{
        height: 60px;
    }
    .content-header-logos img
    {
        height: 20px;
        margin-top: 22px;
        margin-right: 15px;
    }
    #mastercard-logo {
        height: 35px !important;
        margin-top: 15px !important;
    }
    #logo{
        margin-left: 15px !important;
        height: 30px;
        margin-top: 15px;
    }
    .payment-input-container label {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .payment-input-container {
        height: 260px;
    }
    .payment-details-container {
        height: 260px;
    }
    .payment-details-container label {
        margin-top: 0px;
    }
    #payment-submit {
        bottom: 35px;
    }
    #input-card-type-image-visa {
        margin-top: -8px;
    }
    #input-card-type-image-mastercard {
        margin-top: -12px;
    }
    #input-card-type-image-maestro{
        margin-top: -12px;
    }
}
@media (max-width:320px){
    .payment-input-container {
        height: 215px;
    }
    .payment-input-container label {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .payment-details-container {
        height: 210px;
    }
    .payment-details-container label {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #payment-details-amount {
        margin-bottom: 2px;
    }
    #input-card-type-image-visa {
        margin-top: -20px;
    }
    #input-card-type-image-mastercard {
        margin-top: -24px;
    }
    #input-card-type-image-maestro{
        margin-top: -24px;
    }
    #payment-summary-container {
        position: relative;
        top: 36%;
        transform: translateY(-60%);
        -webkit-transform: translateY(-60%);
        -moz-transform: translateY(-60%);
        -o-transform: translateY(-60%);
    }
}